# Excluding the build output directory
build
lib/openapi
external

# Excluding the configuration file
.vscode
.openapi-generator
.openapi-generator-ignore
openapitools.json

# Language-speficied file
package-lock.json
node_modules